body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #502064;
}

a {
  color: #3FA796;
  text-decoration: none;
}

.nav {
  margin-top: 15px;
  margin-bottom: 15px;
}

.ronnel, .nav-link {
  font-size: 35px;
}

.ronnel {
  color: #FFBD35;
}

.nav-link {
  margin: 20px;
  position: relative;
}

.body-element {
  line-height: 120%;
  color: #d6c3ff;
  font-size: 30px;
}