body {
  font-family: 'BIZ UDPGothic', sans-serif;
  background-color: black;
}

a {
  color: #3FA796;
  text-decoration: none;
}

.main-display {
  padding: 5px 0;
  width: 800px;
  background-color: #502064;
  margin: 50px auto;
  border-radius: 30px;
  filter: drop-shadow(13px 13px 0 #1f0a27);
}

.header {
  font-weight: 700;
  font-size: 21px;
  margin: 30px 0;
  padding: 0 40px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main-content {
  line-height: 170%;
  color: white;
  margin: 0 60px 50px;
  font-size: 15px;
}

.portfolio {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .portfolio, li {
  margin: 0 15px;
} */

.portfolio-pics {
  width: 350px;
}